<div class="text-field ui large input left icon">
  <%= form.email_field :email, placeholder: "Email" %>
  <i class="mail outline icon"></i>
</div>
<div>
  <br />
    <%= form.collection_select(:organisation_id, Organisation.all, :id, :code, { prompt: "Join an organisation" }, { class: "ui js-dropdown search dropdown" }) %>
    <!-- <%= link_to("or create a new one", "", class: "add_organisation") %> -->
</div>
<div class="password-field ui large input left icon">
  <%= form.password_field :password, placeholder: "Password" %>
  <i class="privacy icon"></i>
</div>
