<div class="text-field ui large input left icon">
  <%= form.email_field :email, placeholder: "Email" %>
  <i class="mail outline icon"></i>
</div>

<div class="password-field ui large input left icon">
  <%= form.password_field :password, placeholder: "Password" %>
  <i class="privacy icon"></i>
</div>
