<p>
  This sign up is for organisation administrators, the person who is going to approve the bingo pictures and create the boards.
</p>

<p>
  If you are not the administartor, you'll need an invitation code from your organisation's administrator.
</p>

<p>
  If you don't have an invitation code, enter the email of your administrator here, with your email address, and we'll ask the admin to send you a new invitation.
</p>
