
<div class="pusher">
  <div class="ui container">
    <div class="ui vertical stripe segment">
      <div class="ui equal width stackable internally celled grid">
        <div class="column">
          <div id="clearance" class="sign-up">
            <h2><%= t(:create_organisation, scope: :sign_up) %></h2>
            <p><%= t(:only_sign_up_to_create_organisation, scope: :sign_up) %></p>
            <p><%= t(:uploading_picture_does_not_require_sign_up, scope: :sign_up) %></p>

            <%= render partial: '/users/form' %>
          </div>
        </div>

        <div class="column">

        </div>
      </div>
    </div>
  </div>
</div>
