<div class="ui large inverted secondary menu">
  <%= link_to "Home", root_path, class: "item" %>
  <%= link_to "Pictures", pictures_path, class: "item" %>
  <a class="item">Boards</a>
  <a class="item">Games</a>

  <%= render partial: "/home/right_menu" %>
</div>
