<div class="right menu">
  <div class="item">
    <% if signed_in? %>
      Signed in as: <%= current_user.email %>
      <div class="ui button">
        <%= link_to 'Sign out', sign_out_path, method: :delete %>
      </div>
    <% else %>
      <div class="ui buttons">
        <div class="ui button">
          <%= link_to 'Sign in', sign_in_path %>
        </div>
        <div class="ui button">
          <%= link_to 'Sign up', sign_up_path %>
        </div>
      </div>
    <% end %>
  </div>
</div>
