<div class="pusher">
  <div class="ui vertical masthead inverted center aligned segment height-tall">
    <div class="ui text container container--masthead">
      <h1 class="ui inverted header">Family Bingo Club</h1>
      <h2>Make and play Bingo</br> with your own pictures</h2>
      <div class="ui huge secondary button">
        Get Started
      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3><%=link_to "Upload your pictures", pictures_path %></h3>
          <p>Each group can store up to 75 custom images, or use ours.</p>
        </div>
        <div class="column">
          <h3>Make bingo boards</h3>
          <p>Generate print-ready PDFs of unlimited boards.</p>
        </div>
        <div class="column">
          <h3>Play bingo</h3>
          <p>Play with traditional numbers or just pictures.</br> Check winners automatically.</p>
        </div>
      </div>
    </div>
  </div>
</div>
