<div class="pusher">
  <div class="ui container">
    <div class="ui vertical stripe segment">
      <div class="ui equal width stackable internally celled grid">
        <div class="column">
          <h2><%= t(:access_organisation, scope: :access_codes) %></h2>

          <%= render 'access_code_sessions/form' %>
        </div>
      </div>
    </div>
  </div>
</div>
