<div class="pusher">
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <%= render "header" %>
          <%= render "instructions" %>
          <%= render "gallery" %>
        </div>
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
